h1 {
  margin: 0px;
  padding: 10px;
  background: lightblue;
}

.index1 {
  position: relative;
  background-color: greenyellow;
  top: 30px;
  z-index: 1;
}

.index2 {
  position: absolute;
  background-color: lightcoral;
  top: 60px;
  z-index: 2;
}