.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-0);
  /* possível solução */
  /* background: url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left
      20px,
    linear-gradient(#fff var(--offset), rgba(255, 255, 255, 0) 0px),
    linear-gradient(to top, #fff var(--offset), #111 0px); */
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.tecnologia-conteudo > span {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia-conteudo a {
  margin-bottom: 80px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia-imagem {
    display: none;
  }
  .tecnologia-conteudo a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}
