/*Estilos Gerais*/

@font-face {
    font-family: '20db';
    src: url('font/20db-webfont.eot');
    src: url('font/20db-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/20db-webfont.woff') format('woff'),
         url('font/20db-webfont.ttf') format('truetype'),
         url('font/20db-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
	font-weight: normal;
	font-style: normal;

}

body {
	padding-bottom: 400px;
}

h2 {
	font-size: 2.5em;
	font-family: "20db", serif;
}

p {
	font-size: 1.250em;
	line-height: 1.4em;
}

h1 {
	text-align: center;
	font-size: 3em;
	font-weight: normal;
	margin-top: 60px;
}

cite {
	display: block;
}

section {
	max-width: 500px;
	padding: 0 20px 20px 20px;
	margin: 60px auto;
	overflow: hidden;
}