@function grid($colunas, $total: 12) {
	@return round(($colunas / $total) * 100%);
}

div {
	width: grid(4);
}

@function em($pixels, $contexto: 16) {
	@return ($pixels / $contexto) * 1em;
}

@mixin title-large {
	font-size: 4em;
	font-weight: bold;
	font-family: monospace;
	line-height: 1;
}

@mixin border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin separador($color: pink, $largura: 100px) {
	&::after {
		content: '';
		display: block;
		width: $largura;
		height: 4px;
		background: $color;
	}
}

@mixin box-shadow($shadow...) {
	box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}


$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 60px;

section {
	max-width: 600px;
	margin: 0 auto;
	@include border-box;
}

.modal {
	@include box-shadow(10px 10px 0 0 rgba(0,0,0,.5),
											15px 15px 0 0 rgba(0,0,0,.5),
											20px 20px 0 0 rgba(0,0,0,.5))
	h1 {
		color: $cor-primaria;
		font-family: $font-primaria;
		margin-bottom: $gutter;
		@include title-large;
		@include separador(yellow, 400px);
		@include mobile {
			color: #84E;
			font-size: 2em;
		}
	}
	p {
		font: {
			size: 1.2em;
			family: $font-primaria;
			style: italic;
		}
		line-height: 1.4;
		max-width: 400px;
		@include mobile {
			font-size: .6em;
		}
	}
	a {
		display: block;
		max-width: 120px;
		padding: 10px;
		border-radius: 4px;
		text-align: center;
		background: $cor-primaria;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font-primaria;
	}
}

ul {
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		font-size: em(36);
		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			background: blue;
			color: white;
			font-size: em(16, 36);
			&:hover, &.active {
				background: transparentize(blue, .5);
			}
		}
	}
}





















