body {
	background-color: #333;
	background-image: url("esporte-1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 5000px;
}

div {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	background: url("esporte-4.jpeg") no-repeat center;
	background-size: cover;
	box-shadow: 0 10px 0 #000;
	visibility: hidden;
	display: none;
}