/* Cores */
.primaria-1 {
	background: #ed98b4;
}
.primaria-2 {
	background: #162138;
}
.primaria-3 {
	background: #9be6da;
}
.primaria-4 {
	background: #fce68d;
}
.secundaria-1 {
	background: #121e32;
}
.secundaria-2 {
	background: #17243a;
}
/* Tipografia */
.titulo-1 {
	font-family: Courier, monospace;
	font-size: 1.5rem;
	font-weight: 300;
	text-decoration: underline;
}
.titulo-2 {
	font-family: Helvetica;
	font-size: 2.250rem;
  font-weight: 600;
  color: #ED98B4;
}
.corpo-1 p {
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.375;
	max-width: 430px;
	padding-bottom: 0.5em;
}
.corpo-2 p {
	font-family: "Courier New", Courier, monospace;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
	color: #17243A;
}
/* Botões e Links */

.link a {
	font-family: Helvetica;
	color: #17243a;
	text-decoration: underline;
}
.link a:hover {
	text-decoration: ;
}
/* Formulário */
label {
	display: block;
}
input, textarea {
	background-color: #17243a;
	font-family: "courier-prime", "Courier New", Courier, monospace;
	font-size: 0.875rem;
	font-weight: 300;
	color: #6b737f;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
}
textarea {
	min-height: ;
}
input:focus, input:hover, textarea:focus, textarea:hover {
	outline: ;
	border-color: ;
}
button {
	font-family: ;
	font-size: ;
	display: inline-block;
	background: ;
	color: ;
	text-align: center;
	padding: ;
	border: ;
	cursor: pointer;
}
button:hover {
	background: ;
	color: ;
}