#logo {
	width: 30%;
	float: left;
	font-size: 2em;
}

nav {
	width: 70%;
	text-align: right;
	float: right;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
}

nav ul li a {
	display: inline-block;
	padding: 10px;
}

a {
	text-decoration: none;
	color: white;
	font-family: courier;
}

a:hover {
	color: black;
}

header {
	background: tomato;
	padding: 10px 20px;
}

header::after, header::before {
	content: '';
	display: table;
	clear: both;
}