div {
	margin: 40px auto;
	width: 400px;
	background: #eee;
	padding: 10px;
}

p {
	color: #000;
	font: italic bold 14px/20px Helvetica, Arial;
	text-align: left;
	text-transform: lowercase;
	text-indent: 40px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}